<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1 class="heading">Todo</h1>
        <form action="/todo" method="POST" >
            <input name="todo" type="text" placeholder="Enter todo value">
            <input type="submit"  class="submit">
        </form>
        <ul>
            <% result.forEach( item => { %>
                <li>
                    <a href="/todo/<%= item._id %>"><%= item.todo %></a>
                    <button type="button" id="<%= item._id %>" class="delete">Delete</button>
                </li>
            <% } ) %>
        </ul>
        <script>



            document.addEventListener('click',(e) =>{
                console.log(e.target.id);
                if(e.target.classList.contains('delete')) {
                    fetch(`/todo/${e.target.id}`, {
                        method: 'DELETE',
                    })
                    .then(res => res.json())
                    .then(data => window.location.href = data.redirectPath)
                    .catch(err => console.log(err))
                }
            })
            
        </script>
    </body>
</html>