<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demoooo</title>
    <%-include('./partials/style.ejs') %>
</head>
<body>
   <%-include('./partials/nav.ejs') %>
    <h1 class="heading">Hello world</h1>
    <ul>
        <% result.forEach(element =>{ %>
            <li> <%=element.name %></li>
      <%  }) %>
    </ul>
</body>
</html>